.trailer__dim {
  margin-top: 9rem;
  color: rgb(60, 60, 60);
  p {
    font-weight: 300;
    text-align: center;
    padding: 0;
  }
  input {
    width: 65px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    border: 1px solid #3481f3;
  }
  .download__wrap {
    display: flex;
    justify-content: center;
    p {
      cursor: pointer;
    }
    p:hover {
      cursor: pointer;
      color: green;
    }
    p:hover > svg {
      fill: green;
    }
    svg {
      transform: translateY(-1px) translateX(-2px);
      width: 14px;
      height: 14px;
      fill: #000000;
    }
  }
}

.download__block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.truck__body {
  display: flex;
  flex-direction: column;
  .head {
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    background-image: url(./assets/head.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 290px;
    height: 210px;
    z-index: -100;
  }

  .trailer {
    margin: 2px auto;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 3px;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    .elements__container {
      display: flex;
      flex-wrap: wrap;
      height: 10px;
      .z_index {
        z-index: 5;
      }
      .flipped {
        transform: rotate(90deg);
      }
    }
    .div_element {
      cursor: move;
      border: 1px solid #000000;
      border-radius: 2px;
      .dimensions {
        background-color: #000000;
        color: #ffffff;
        font-size: 0.83rem;
        padding: 1px 2px;
        margin: 1px;
        border-radius: 2px;
      }
      .note {
        padding: 3px;
        font-size: 0.8rem;
        color: rgb(54, 54, 54);
      }
      .icons__wrap {
        display: flex;
        gap: 3px;
        align-items: center;
        .delete__icon,
        .rotate__icon {
          display: none;
          margin-left: 3px;
          cursor: pointer;
          svg {
            transition: all 0.2s ease-in-out;
            width: 17px;
            height: 17px;
            fill: #000000;
          }
        }
        .delete__icon,
        .rotate__icon:hover {
          svg {
            transform: scale(1.1);
          }
        }
      }
    }
    .div_element:hover > .icons__wrap > .delete__icon {
      display: block;
    }
    .div_element:hover > .icons__wrap > .rotate__icon {
      display: block;
    }
  }
}

.todoAppContainer {
  position: relative;
  .todoApp {
    position: absolute;
    top: 30px;
    left: 0;
  }
}
